nav ul li a {

	color: white;
	font-weight: bold;
}

.mycarousel {

	margin-top: 20px;
}

#nav-mobile ul li a {

	color: white;
	text-align: center;
}

.login-container {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}


@media only screen 
 	and (min-device-width: 375px) 
  	and (max-device-width: 600px) 
  	and (-webkit-min-device-pixel-ratio: 3) { 

  	.card{ width: 32rem; }

}

footer {

	margin-top: 50px;
}

.more-posts {

	margin-top: 50px;
}