html body {

	background-color: #E9E9E9;
}

nav ul li a {

	color: white;
	font-weight: bold;
}


#nav-mobile ul li a {

	color: white;
	text-align: center;
}

.login-container {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}


@media only screen 
 	and (min-device-width: 375px) 
  	and (max-device-width: 768px) 
  	and (-webkit-min-device-pixel-ratio: 3) { 

  	.card{ width: 32rem; }
  	.carousel-item img {
  		height: 50px;
  	}

  	

}

footer {

	margin-top: 50px;
}

.more-posts {

	margin-top: 50px;
}

