{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}


{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset1">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
						<div class="alert alert-{{category}}" role="alert">{{ message }}</div>
						{% endfor %}
					{% endif %}
				{% endwith %}

			</div>
		</div>
	</div>
	{% block container %}
		
		<div class="container">

			<ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Carrusel</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Nuevo Post</a>
			  </li>
			  <li class="nav-item">
			  	<a class="nav-link" id ="team-tab" data-toggle="tab" href="#team" role="tab" aria-contros="team" aria-selected ="false">Agreagar Personal</a>
			  </li>
			</ul>
			<div class="tab-content" id="myTabContent">
			  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

			  	<form action="/admin/dashboard/caraousel/" method="post" enctype="multipart/form-data">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

					<div class="row" style="margin-top: 25px;">
						<div class="col">
							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text">Upload</span>
							  </div>
							  <div class="custom-file">
							    <input type="file" class="custom-file-input" id="inputGroupFile01" name="file_one">
							    <label  class="custom-file-label" for="">upload</label>
							  </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text">Upload</span>
							  </div>
							  <div class="custom-file">
							    <input type="file" class="custom-file-input" id="inputGroupFile01" name="file_two">
							    <label  class="custom-file-label" for="">upload</label>
							  </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text">Upload</span>
							  </div>
							  <div class="custom-file">
							    <input type="file" class="custom-file-input" id="inputGroupFile01" name="file_three">
							    <label  class="custom-file-label" for="">upload</label>
							  </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<input  class="btn btn-primary btn-block" type="submit" value="Upload" style="width: 25%; margin: auto;">
						</div>
					</div>

			</form>
			  </div>
			  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
			  	<form action="/admin/dashboard/post/" method="post" enctype="multipart/form-data">
			  		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			  		<div class="row">
			  			<div class="col">
			  				<div class="form-group">
			  					{{ render_field(form.title, class='form-control', placeholder='titulo')}}
			  				</div>
			  			</div>
			  		</div>
			  		<div class="row">
			  			<div class="col">
			  				<div class="form-group">
			  					{{ render_field(form.body, class='form-control', placeholder= 'body',rows=10 )}}
			  				</div>
			  			</div>
			  		</div>
			  		<div class="row">
			  			<div class="col">
			  				<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text">Upload</span>
							  </div>
							  <div class="custom-file">
							    <input type="file" class="custom-file-input" id="inputGroupFile01" name="file">
							    <label  class="custom-file-label" for="">upload</label>
							  </div>
							</div>
			  			</div>
			  		</div>

			  		<button type="submit" class="btn btn-primary btn-block" style="width: 50%; margin: auto;">Post</button>

			  		
			  	</form> 	
			  </div>
			  <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
			  	<form action="/admin/dashboard/uploadTeam/" method="post" enctype="multipart/form-data">
			  		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
			  		<div class="row">
			  			<div class="col">
			  				<div class="form-group">
			  					{{ render_field( teamForm.name, class='form-control', placeholder='Nombre Completo') }}
			  				</div>
			  			</div>
			  		</div>
			  		<div class="row">
			  			<div class="col">
			  				<div class="form-group">
			  					{{ render_field( teamForm.departament, class='form-control', placeholder='Departamento')}}
			  				</div>
			  			</div>
			  		</div>
			  		<div class="row">
			  			<div class="col">
			  				<div class="form-group">
			  					{{ render_field (teamForm.charge, class='form-control', placeholder='Puesto')}}
			  				</div>
			  			</div>
			  		</div>
			  		<div class="row">
			  			<div class="col">
			  				<div class="form-group">
			  					{{ render_field( teamForm.phone, class='form-control', placeholder='Numero Telefonico')}}
			  				</div>
			  			</div>
			  		</div>
			  		<div class="row">
			  			<div class="col">
			  				<div class="form-group">
			  					{{ render_field( teamForm.email, class='form-control', placeholder = 'Correo Electronico')}}
			  				</div>
			  			</div>
			  		</div>
			  		<div class="row">
			  			<div class="col">
			  				<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <span class="input-group-text">Foto Aqui</span>
							  </div>
							  <div class="custom-file">
							    <input type="file" class="custom-file-input" id="inputGroupFile01" name="file">
							    <label  class="custom-file-label" for="">upload</label>
							  </div>
							</div>
			  			</div>
			  		</div>
			  		<button type="submit" class="btn btn-primary btn-block" style="width: 50%; margin:auto;">Submit</button>
			  		
			  	</form>

			  </div>
			</div>
		</div>
	{% endblock %}
{% endblock %}
