{% extends 'bootstrap/base.html' %}
{% from 'helpers/_forms.html' import render_field %}





{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/myscripts.js')}}"></script>
{{super()}}


{% endblock %}
{% block title %}
	
	{{ title }}

{% endblock %}

{% block navbar %}
	
	<div class="d-none d-lg-block">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #003B8E">
			<div class="container">

				<a class="navbar-brand" href="{{ url_for('.index') }}">
					<img src="{{ url_for('static', filename='img/uas.png') }}" alt="">
				</a>
				<div class="row ml-auto mx-auto text-center" style="color: white;">
					<div class="col">
						<h2>Universidad Autonoma de Sinaloa</h2><br>
						<h3>Unidad Academica Preparatoria Navolato</h3>
					</div>
				</div>
				<a class="navbar-brand order-md-last" href="">
					<img src="{{ url_for('static', filename='img/consolidacion.png') }}" alt="">
				</a>
			</div>

		</nav>
	</div>
	<nav class="navbar navbar-expand-lg d-none d-lg-block" style="background-color: #AF8514">
			<div class="container text-center ">
						<ul class="navbar-nav ml-auto mx-auto">
							<li class="nav-item active">
								<a class="nav-link" href="{{ url_for('.index') }}">Inicio</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="{{ url_for('.programas') }}">Plan Curricular</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="{{ url_for('.calendario') }}">Calendario Escolar</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="">Programas</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="">Organigramas</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for('.mision') }}">Mision</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="">Directorio</a>
							</li>
						</ul>
					</div>
			</div>
		
		</nav>
	
			<div class="d-sm-block d-lg-none " style="background-color: #003B8E" id="nav-mobile">
				<nav class="navbar">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
						
						<span><img src="{{ url_for('static', filename='img/menu.png') }}" alt=""></span>
						</button>
						<span><p class="text-center text-white" style="font-size:16px; margin-top:25px;">Unidad Academica Prepatoria <br> UAS Navolato</p></span>
						<a  class="navbar-brand float-right" href=""><img src="{{ url_for('static', filename='img/uas.png') }}" style="height: 50px;"  alt=""></a>
						
							<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
								<ul class="navbar-nav ml-auto mx-auto">
									<li class="nav-item active">
										<a class="nav-link" href="{{ url_for('.index') }}">Inicio</a>
									</li>
									<li class="nav-item active">
										<a class="nav-link" href="#">Plan Curricular</a>
									</li>
									<li class="nav-item active">
										<a class="nav-link" href="{{ url_for('.calendario') }}">Calendario Escolar</a>
									</li>
									<li class="nav-item active">
										<a class="nav-link" href="{{ url_for('.programas') }}">Programas</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="">Organigramas</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{ url_for('.mision') }}">Mision</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="">Directorio</a>
									</li>
								</ul>
							</div>

	
				</nav>
			</div>
{% endblock %}

{% block content %}
{{ super() }}
{% block footer %}


		{% endblock footer%}
		{% block container %}
		{% endblock container %}
		


{% endblock %}

