{% extends 'layout.html' %}


{% block content  %}

	{% block container %}
	<div class="container" style="margin-top: 25px;">
		<div class="row">
			<div class="col">
				<h1 class="text-center font-weigth-bold" style="margin-top: 25px;">Programas</h1>
			</div>
		</div>
	<div id="accordion" style="margin-top: 25px;">
		<div class="row">
			<div class="col-sm-4">
				<div class="card">
				    <div class="card-header" id="headingOne">
				      <h5 class="mb-0">
				        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				          Semestre I
				        </button>
				      </h5>
				    </div>
				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="card-body">
				      	<ul>
				      		<li><a href="">Matematicas I</a></li>
				      		<li><a href="">Comunicacion Oral Y Escrita</a></li>
				      		<li><a href="">Ingles</a></li>
				      		<li><a href="">Laboratorio de Computo</a></li>
				      		<li><a href="">Quimica General</a></li>
				      		<li><a href="">Introduccion Ciencias Sociales</a></li>
				      		<li><a href="">Logica I</a></li>
				      		<li><a href="">Orientacion Educativa I</a></li>
				      	</ul>
				      
				      </div>
				    </div>
				</div>			
			</div>
			<div class="col-sm-4">
				<div class="card">
				    <div class="card-header" id="headingOne">
				      <h5 class="mb-0">
				        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
				          Semestre II
				        </button>
				      </h5>
				    </div>
				    <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="card-body">
				      	<ul>
				      		<li><a href="">Matematicas II</a></li>
				      		<li><a href="">Comunicacion Oral y Escrita</a></li>
				      		<li><a href="">Ingles II</a></li>
				      		<li><a href="">Laboratorio de Computo II</a></li>
				      		<li><a href="">Quimica del Carbono</a></li>
				      		<li><a href="">Biologia Basica II</a></li>
				      		<li><a href="">Historia de Mexico I</a></li>
				      		<li><a href="">Logica II</a></li>
				      		<li><a href="">Orientacion Educativa II</a></li>
				      	</ul>
				      </div>
				    </div>
				  </div>
			</div>
			<div class="col-sm-4">
				<div class="card">
				    <div class="card-header" id="headingOne">
				      <h5 class="mb-0">
				        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
				          Semestre III
				        </button>
				      </h5>
				    </div>
				    <div id="collapseThree" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="card-body">
				      	<ul>
				      		<li><a href="">Matematicas III</a></li>
				      		<li><a href="">Comprension y Produccion de Textos</a></li>
				      		<li><a href="">Ingles III</a></li>
				      		<li><a href="">Laboratorio de Computo</a></li>
				      		<li><a href="">Mecanica I</a></li>
				      		<li><a href="">Historia de Mexico II</a></li>
				      		<li><a href="">Etica y Desarrollo Humano I</a></li>
				      		<li><a href="">Metodologia de la Investigacion Social I</a></li>
				      		<li><a href="">Orientacion Educativa III</a></li>
				      	</ul>		        
				      </div>
				    </div>
				  </div>
			</div>
			<div class="col-sm-4">
				<div class="card">
			    <div class="card-header" id="headingOne">
			      <h5 class="mb-0">
			        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
			          Semestre IV
			        </button>
			      </h5>
			    </div>
			    <div id="collapseFour" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
			      <div class="card-body">
			      	<li><a href="">Matematicas IV</a></li>
			      	<li><a href="">Comprension y Produccion de Textos II</a></li>
			      	<li><a href="">Ingles IV</a></li>
			      	<li><a href="">Laboratorio de Computo IV</a></li>
			      	<li><a href="">Mecanica II</a></li>
			      	<li><a href="">Historia Mundial Contemporanea</a></li>
			      	<li><a href="">Etica y Desarrollo Humano II</a></li>
			      	<li><a href="">Metodologia de la Investigacion Social II</a></li>
			      	<li><a href="">Orientacion Educativa IV</a></li>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="col-sm-4">
				<div class="card">
			    <div class="card-header" id="headingOne">
			      <h5 class="mb-0">
			        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
			          Semestre V
			        </button>
			      </h5>
			    </div>
			    <div id="collapseFive" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
			      <div class="card-body">
			      	<ul>
			      		<li><a href="">Estadistica</a></li>
			      		<li><a href="">Literatura I</a></li>
			      		<li><a href="">Educacion para la Salud</a></li>
			      		<li><a href="">Economia, Empresa y Sociedad</a></li>
			      		<li><a href="">Calculo I</a></li>
			      		<li><a href="">Electricidad y Optica</a></li>
			      		<li><a href="">Quimica Cuantitativa I</a></li>
			      		<li><a href="">Bioquimica</a></li>
			      		<li><a href="">Estatica y Rotacion del Solido</a></li>
			      		<li><a href="">Electromagnetismo</a></li>
			      		<li><a href="">Dibujo Tecnico I</a></li>
			      		<li><a href="">Formacion Ciudadana</a></li>
			      		<li><a href="">Hombre, Sociedad y Cultura</a></li>
			      		<li><a href="">Psicologia del Desarrollo Humano I</a></li>
			      		<li><a href="">Problemas Socieconomicos y Politicos de Mexico</a></li>
			      	</ul>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="col-sm-4">
				<div class="card">
			    <div class="card-header" id="headingOne">
			      <h5 class="mb-0">
			        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseOne">
			          Semestre VI
			        </button>
			      </h5>
			    </div>
			    <div id="collapseSix" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
			      <div class="card-body">
			      	<ul>
			      		<li><a href="">Probabilidad</a></li>
			      		<li><a href="">Literatura II</a></li>
			      		<li><a href="">Ecologia y Educacion Ambiental</a></li>
			      		<li><a href="">Filosofia</a></li>
			      		<li><a href="">Calculo II</a></li>
			      		<li><a href="">Propiedades de la Materia</a></li>
			      		<li><a href="">Quimica Cuantitativa II</a></li>
			      		<li><a href="">Biologia Celular</a></li>
			      		<li><a href="">Optica</a></li>
			      		<li><a href="">Dibujo Tecnico II</a></li>
			      		<li><a href="">Formacion Profesional en la CS</a></li>
			      		<li><a href="">Pensamiento y Cultura II</a></li>
			      		<li><a href="">Psicologia del Desarrollo Humano II</a></li>
			      		<li><a href="">Analisis Socieconomico y Politico de Sinaloa</a></li>
			      		<li><a href="">Comunicacion y Medios Masivos</a></li>
			      	</ul>
			      </div>
			    </div>
			  </div>
			</div>
			
		</div>
	</div>
</div>
	{% endblock %}
	
{% endblock %}

